* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f5f5;
}

.page {
  margin: 10px 0;
  display: flex;
}

img {
  width: 100px;
  height: auto;
}

.sidebar-container {
  width: 20vh;
    margin: 10px;
    padding: 5px;
    border-radius: 42px;
    background: #d5cdcd;
    box-shadow:  5px 5px 10px #d3d3d3,
             -5px -5px 10px #ededed;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    padding: 20px 10px;
    justify-content:space-between;
    border-radius: 42px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 100px #d3d3d3,
                inset -5px -5px 100px #ededed;
    height: 95%;
}

.head-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.side-header-container {
  border-bottom: 2px solid black;
}

.side-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.side-main-container {
  border: 2px solid black;
  width: 100%;
}

.side-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border: 1px solid rebeccapurple;
  overflow: auto;
}

.ti-to {
  display: flex;
}

.sections {
  position: relative;
  padding: 10px 0;
}

.section-list {
  height: 30vh;

}

ul{
  list-style: none;
}

li {
  margin: 20px 0;
  width: 100%;
}

.sec {
  appearance: none;
  background-color: #FAFBFC;
  border: .5px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 3px 5px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.sec:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.sec:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.sec.active {
  background-color: #5b5b5b;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
  color: #d3d3d3;
}

.sec:focus {
  outline: 1px transparent;
}

.sec:before {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.but-settings{
  background-image: linear-gradient(#b9b9b9, #7d7c7c);
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.but-settings:disabled {
  cursor: default;
  opacity: .3;
}

.but-settings:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.but-settings:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.but-settings:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  background-color: rgba(131, 192, 253, 0.5);
  outline: none;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ddb591;
  top: 25%;
  left: 45%;
  position: absolute;
  width: 300px;
  height: 300px;
}

.logOut {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  color: red;
}

.content {
  width: 100%;
  border: 1px solid black;
}

.main {
  width: 100%;
  
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 75px;
  border: 1px solid black;
  margin: 5px auto;
  background-color: #ddb591;
}

.crud {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.search {
  margin: 10px 20px;
  padding: 0 10px;
  height: 30px;
  width: 200px;
}

  button {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }



button.add {
  background-color: #5dbea3;

}
button.edit {
  background-color: #ffbd03;

}

.delete_{
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete {
  color: white;
  background-color: red;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
} 

button:hover {
  background-color: #5f5f5f;
  border-color: #4c4c4c;
}

.alpine {
  margin-top: 20px;
  position: absolute;
  left:35%;
  top: 20%;
}

.addstudent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5dbea3;   
  padding: 20px; 
  border-radius: 75px;
}

.blocks {
  display: flex;
  gap: 20px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

}

input {
  margin-top: 10px;
  padding-left: 15px;
  height: 30px;
}

.submit-b {
  margin: auto;
  margin-top: 10px;
  padding-left: 15px;
  height: 30px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tbl {
  padding: 10px;
  overflow: scroll;
}
.table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style:solid;
  border-width:2px;
}
th {
  border: 2px solid black;
  text-align: left;
  padding: 20px;
}

td{
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) {
  text-align: center;
  background-color: #d5cdcd;
}
